.navbar{
    height: auto;
    border-radius: 3px;
    padding: 0 50px;
}
footer{
    height: 60px;
    background-color: red;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
    color: aliceblue;
}
.admin-dashboard{
    width: 80%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: skyblue;
}
.admin-dashboard .header{
    background-color: skyblue;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
}
.admin-dashboard .header a{
    font-weight:bold;
    font-size: x-large;
    color: aliceblue;
    direction: ltr;
}
.admin-dashboard ul li{
    list-style-type: none;
    width: 80%;
    
    
}
.dropdown button{
    width: 120%;
    margin-left: -20px;
    margin-top: 10px;
}
.dropdown-menu{
    width: 60%;
    margin-left: -10px;
}
.dropdown-menu a:hover{
    background-color:lightgray;
    
}
.insert-catagory input{
    border: none;
    border-bottom: solid gray 1px;
}
.insert-catagory .radio{
    
}
.insert-catagory input:hover{
    border-bottom: outset;
}
#navbar-auth{
    display: inline;
    float: right;
    color: blanchedalmond;
}
#navbar-auth a{
    color: gray;
}