.navbar{
    height: auto;
    border-radius: 3px;
    padding: 0 50px;
}
footer{
    height: 60px;
    background-color: red;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
    color: aliceblue;
}