.navbar{
    height: auto;
    border-radius: 3px;
    padding: 0 50px;
}
footer{
    height: 60px;
    background-color: red;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
    color: aliceblue;
}
.admin-dashboard{
    width: 80%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}
.admin-dashboard ul li{
    list-style-type: none;
    width: 80%;
    
    
}
.dropdown-menu{
    width: 60%;
    margin-left: -40px;
}